﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Cấu hình <small> Thiết lập cấu hình cho trang web</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/configuration"> Cấu hình </a>
            </li>
            
            <li class="btn-group">
                <button data-close-others="true" data-delay="1000" data-hover="dropdown" data-toggle="dropdown" class="btn blue dropdown-toggle" type="button">
                    <i class="icon-angle-down"></i>
                </button>
                <ul role="menu" class="dropdown-menu pull-right">
                    <li>
                        <a href="" ng-click="refreshCache()"><i class="icon-refresh"></i> Refresh cache</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<!--<div class="row">
    <div class="col-md-12">
        <div class="toolbar" style="margin-bottom: 5px">
            <a class="btn blue" href="#/configuration/add">
                <i class="icon-plus"></i> Thêm mới
            </a>
            <button class="btn yellow" ng-click="">
                <i class="icon-refresh"></i> Refresh cache
            </button>
        </div>
        <table class="table table-striped table-bordered table-hover" id="configurationTable"></table>
    </div>
</div>-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li ng-class="{'active' : searchObj.Group == ''}"><a href="" ng-click="filterGroup('')">Tất cả</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Website'}"><a href="" ng-click="filterGroup('Website')">Website</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Message'}"><a href="" ng-click="filterGroup('Message')">Thông báo</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Template'}"><a href="" ng-click="filterGroup('Template')">Email template</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Custom'}"><a href="" ng-click="filterGroup('Custom')">Tự định nghĩa</a></li>
            <li>
                <input type="text" class="form-control" placeholder="Tìm kiếm" ng-model="searchObj.$">
            </li>
        </ul>

        <div class="tab-content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 40%">Cấu hình</th>
                        <th>Giá trị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data | filter:searchObj">
                        <td>
                            <div class="config-info-container">
                                <p>
                                    <i class="icon-question-sign icon-help tooltips" data-html="true" title="{{item.Description}}"></i>
                                    {{item.Name}}
                                </p>
                                <code><span>{{</span>{{ item.ConfigID }}<span>}}</span></code>
                            </div>
                        </td>
                        <td>
                            <div ng-bind-html="item.Value" class="config-value-container" data-name="{{item.Name}}" 
                                 data-code="{{item.ConfigID}}" data-type="{{item.DataType}}">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="configEditorDialog" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{{objEdit.Name}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div ng-type-editor="" id="objEdit_DefaultValue" type="objEdit.EditorType" model="objEdit.Value"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" ng-click="update()">Cập nhật</button>
                <button type="button" data-dismiss="modal" class="btn default">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
