﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> {{title}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/module-base">Module chức năng</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/module-base/module-base-addedit">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
            </div>
            <div class="portlet-body form">
                <div class=" portlet-tabs">
                    <ul class="nav nav-tabs">
                        <li><a href="#portlet_tab2" data-toggle="tab">Thuộc tính</a></li>
                        <li class="active"><a href="#portlet_tab1" data-toggle="tab">Thông tin</a></li>
                    </ul>
                    <!-- BEGIN FORM-->
                    <form id="moduleBaseForm" name="moduleBaseForm" class="horizontal-form tab-form" novalidate>
                        <div class="form-actions top fluid">
                            <div class="centered-content">
                                <button type="button" class="btn green" ng-click="save()" ng-disabled="moduleBaseForm.$invalid">{{saveButton}}</button>
                                <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="tab-content">
                                <div class="tab-pane active fade active in" id="portlet_tab1">

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Mã module<span class="required">*</span></label>
                                                <input type="text" class="form-control" placeholder="Mã module" name="ModuleBaseID" ng-model="obj.ModuleBaseID" required maxlength="50" ng-disabled="!isNew" />
                                                <span class="help-block" ng-show="moduleBaseForm.ModuleBaseID.$dirty && moduleBaseForm.ModuleBaseID.$invalid">Chưa điền mã.</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Nhóm</label>
                                                <input type="text" class="form-control" placeholder="Nhóm" name="Group" ng-model="obj.Group" maxlength="250" />
                                            </div>
                                            <div class="form-group" ng-class="{'has-error' : moduleBaseForm.Name.$dirty && moduleBaseForm.Name.$invalid}">
                                                <label class="control-label">Tên module<span class="required">*</span></label>
                                                <input type="text" class="form-control" placeholder="Tên module" name="Name" ng-model="obj.Name" required maxlength="250" ng-change="updateSeoName()" />
                                                <span class="help-block" ng-show="moduleBaseForm.Name.$dirty && moduleBaseForm.Name.$invalid">Chưa điền tên.</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Thông tin module</label>
                                                <textarea class="form-control" placeholder="Thông tin module" name="Description" ng-model="obj.Description" maxlength="500" />
                                            </div>
                                            <div class="form-group" ng-class="{'has-error' : moduleBaseForm.LayoutID.$dirty && moduleBaseForm.LayoutID.$invalid}">
                                                <label class="control-label">Layout<span class="required">*</span></label>
                                                <input type="hidden" ng-select-layout settings="{placeholder:  'Chọn layout', width:'100%' }" source-type="Module" model="obj.LayoutID" required maxlength="50" />
                                                <span class="help-block" ng-show="moduleBaseForm.LayoutID.$dirty && moduleBaseForm.LayoutID.$invalid">Chưa chọn layout.</span>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error' : moduleBaseForm.ScriptID.$dirty && moduleBaseForm.ScriptID.$invalid}">
                                                <label class="control-label">Script<span class="required">*</span></label>
                                                <input type="hidden" ng-select-layout settings="{placeholder:  'Chọn script', width:'100%' }" source-type="Script"  model="obj.ScriptID" required maxlength="50" />
                                                <span class="help-block" ng-show="moduleBaseForm.ScriptID.$dirty && moduleBaseForm.ScriptID.$invalid">Chưa chọn script.</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Role có quyền cài đặt&nbsp;
                                                    <i class="icon-question-sign icon-help tooltips" data-html="true" title="Role có quyền <b>cài đặt</b> <br /> Các role cách nhau bởi dấu ';' , nhập '*' để cho phép tất cả"></i>
                                                </label>
                                                <input type="text" class="form-control" placeholder="Role có quyền cài đặt" name="RolesToInstall" ng-model="obj.RolesToInstall" maxlength="250" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Role có quyền tạo mới&nbsp;
                                                    <i class="icon-question-sign icon-help tooltips" data-html="true" title="Role có quyền <b>thêm module vào trang chức năng</b> <br /> Các role cách nhau bởi dấu ';' , nhập '*' để cho phép tất cả"></i>
                                                </label>
                                                <input type="text" class="form-control" placeholder="Role có quyền tạo mới" name="RolesToCreate" ng-model="obj.RolesToCreate" maxlength="250" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Role có quyền sửa&nbsp;
                                                    <i class="icon-question-sign icon-help tooltips" data-html="true" title="Role có quyền <b>sửa module trên trang chức năng</b> <br /> Các role cách nhau bởi dấu ';' , nhập '*' để cho phép tất cả"></i>
                                                </label>
                                                <input type="text" class="form-control" placeholder="Role có quyền sửa" name="RolesToEdit" ng-model="obj.RolesToEdit" maxlength="250" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Role có quyền xem&nbsp;
                                                    <i class="icon-question-sign icon-help tooltips" data-html="true" title="Role có quyền <b>xem module</b> <br /> Các role cách nhau bởi dấu ';' , nhập '*' để cho phép tất cả"></i>
                                                </label>
                                                <input type="text" class="form-control" placeholder="Role có quyền xem" name="RolesToView" ng-model="obj.RolesToView" maxlength="250" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Icon</label>
                                                <div ng-file-upload="{dir : 'Images'}" ng-model="obj.Thumbnail" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Phiên bản</label>
                                                <input type="text" class="form-control" placeholder="Role có quyền xem" name="Version" ng-model="obj.Version" maxlength="250" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Tác giả</label>
                                                <input type="text" class="form-control" placeholder="Role có quyền xem" name="Author" ng-model="obj.Author" maxlength="250" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Thứ tự hiển thị</label>
                                                <div class="form-control" ng-jqx-number-input="{ height: '32px', spinButtons: true, decimalDigits: 0, inputMode: 'simple', min: -10 , max: 99999}" ng-model="obj.SortOrder" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Cấu hình</label>
                                                <div class="checkbox-list">
                                                    <label>
                                                        <input type="checkbox" name="IsEnabled" ng-model="obj.IsEnabled" /> Hiển thị
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="portlet_tab2">
                                    <div class="form-horizontal well" ng-repeat="config in obj.ModuleBaseConfigs">
                                        <button class="btn default red btn-sm pull-right" type="button" ng-click="removeConfig($index)"><i class="icon-remove" style="font-size:16px;"></i></button>
                                        <ng-form name="configForm">
                                            <div class="form-body">
                                                <div class="form-group" ng-class="{'has-error' : configForm.ModuleBaseConfigID.$dirty && configForm.ModuleBaseConfigID.$invalid}">
                                                    <label class="control-label col-md-3">Mã thuộc tính<span class="required">*</span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="ModuleBaseConfigID" class="form-control" placeholder="Mã thuộc tính" required maxlength="50" ng-model="config.ModuleBaseConfigID" />
                                                        <span class="help-block" ng-show="configForm.ModuleBaseConfigID.$dirty && configForm.ModuleBaseConfigID.$invalid">Mã thuộc tính không hợp lệ.</span>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-class="{'has-error' : configForm.Name.$dirty && configForm.Name.$invalid}">
                                                    <label class="control-label col-md-3">Tên thuộc tính<span class="required">*</span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="Name" class="form-control" placeholder="" required maxlength="250" ng-model="config.Name" />
                                                        <span class="help-block" ng-show="configForm.Name.$dirty && configForm.Name.$invalid">Tên thuộc tính không hợp lệ.</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Mô tả</label>
                                                    <div class="col-md-8">
                                                        <textarea class="form-control" placeholder="" maxlength="500" ng-model="config.Description" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Kiểu dữ liệu</label>
                                                    <div class="col-md-2">
                                                        <select name="DataType" ng-model="config.DataType" class="form-control input-small">
                                                            <option value="String">String</option>
                                                            <option value="Html">Html</option>
                                                            <option value="Number">Number</option>
                                                            <option value="Decimal">Decimal</option>
                                                            <option value="Boolean">Boolean</option>
                                                            <option value="DateTime">DateTime</option>
                                                            <option value="Date">Date</option>
                                                            <option value="Time">Time</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Giá trị mặc định</label>
                                                    <div class="col-md-8">
                                                        <div ng-type-editor="" id="DefaultValue" type="config.DataType" model="config.DefaultValue"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">
                                                        Role có quyền cấu hình&nbsp;
                                                        <i class="icon-question-sign icon-help tooltips" data-html="true" title="Role có quyền <b>cấu hình</b> <br /> Các role cách nhau bởi dấu ';' , nhập '*' để cho phép tất cả"></i>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" placeholder="Role có quyền cấu hình" name="RolesToConfig" ng-model="config.RolesToConfig" maxlength="250" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Thứ tự hiển thị</label>
                                                    <div class="col-md-2">
                                                        <!--<div class="form-control input-small" ng-jqx-number-input="{ height: '32px', spinButtons: true, decimalDigits: 0, inputMode: 'simple', min: -10 , max: 99999}" ng-model="obj.SortOrder1" />-->
                                                        <input type="text" class="form-control input-small" ng-model="config.SortOrder" placeholder="" required maxlength="6" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"></label>
                                                    <div class="col-md-4">
                                                        <div ng-checkbox title="Cho phép hiển thị" model="config.IsEnabled"></div>
                                                        <div ng-checkbox title='Không phân biệt ngôn ngữ' model="config.AllLanguage" help="Tích chọn đê cài đặt giá trị của cấu hình này như nhau với mọi ngôn ngữ"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-form>
                                    </div>
                                    <button type="button" class="btn default" ng-click="addConfig()"><i class="glyphicon glyphicon-plus"></i> Thêm thuộc tính</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="centered-content">
                                <button type="button" class="btn green" ng-click="save()" ng-disabled="moduleBaseForm.$invalid">{{saveButton}}</button>
                                <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
