﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Module chức năng <small> Cài đặt module chức năng cho trang web của bạn.</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/module-base"> {{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li ng-class="{'active' : searchObj.Group == ''}"><a href="" ng-click="filterGroup('')"> <i class="icon-ok"></i>Tất cả</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Common'}"><a href="" ng-click="filterGroup('Common')"><i class="icon-globe"></i>Cơ bản</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Ecommerce'}"><a href="" ng-click="filterGroup('Ecommerce')"><i class="icon-shopping-cart"></i>Bán hàng</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Article'}"><a href="" ng-click="filterGroup('Article')"><i class="icon-bookmark"></i>Tin tức</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Service'}"><a href="" ng-click="filterGroup('Service')"><i class="icon-book"></i>Dịch vụ</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Utility'}"><a href="" ng-click="filterGroup('Utility')"><i class="icon-cog"></i>Tiện ích</a></li>
            <li>
                <input type="text" class="form-control" placeholder="Tìm kiếm" ng-model="searchObj.$">
            </li>
            <li>
                <select class="form-control input-small" ng-model="searchObj.Installed">
                    <option value="">Tất cả</option>
                    <option value="true">Đã cài đặt</option>
                    <option value="false">Chưa cài đặt</option>
                </select>
            </li>
        </ul>

        <div class="tab-content">
            <div class="module-base-block well" ng-class="{'module-base-uninstall' : !item.Installed}" ng-repeat="item in data | filter:searchObj">
                <img class="module-base-thumbnail" src="{{item.Thumbnail}}" />
                <div class="module-base-info">
                    <h4>
                        {{item.Name}}
                    </h4>
                    <p>
                        <span class="label label-info module-base-author">{{item.Author}}</span>
                        <span class="label label-danger module-base-version">v{{item.Version}}</span>
                        {{item.Description}}
                    </p>
                </div>
                <a class="btn default btn-sm module-base-manage" href="" ng-click="uninstall(item.ModuleBaseID)" ng-disabled="!item.AllowInstall" ng-if="item.Installed"><i class="icon-remove"></i> Uninstall</a>
                <a class="btn yellow btn-sm module-base-manage" href="" ng-click="install(item.ModuleBaseID)" ng-if="!item.Installed"><i class="icon-plus"></i> Install</a>
            </div>
        </div>

    </div>
</div>