﻿<a href="" ng-click="select(item.LayoutID)">
    <span class="pull-right">
        <i class="icon-question-sign tooltips" title="{{item.Name}}" style="color: #ffb848"></i>
        <i class="icon-star tooltips" title="Layout hệ thống" ng-if="item.SourceType == 2"></i>
        <i class="icon-star-empty tooltips" title="Layout hệ thống" ng-if="item.SourceType == 1"></i>
    </span>
    <i class="glyphicon glyphicon-plus"></i> {{item.LayoutID}}
</a>