﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Layout <small> Tùy chỉnh layout của trang, module</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/ui/layout"> Layout </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-4">
        <div class="panel-group accordion" id="accordion1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">
                            Page
                        </a>
                    </h4>
                </div>
                <div id="collapse_1" class="panel-collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="{'active':mode == 'add' && layout.Type == 0}">
                                <a class="text-danger" href="" ng-click="new(0)">
                                    <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                </a>
                            </li>
                            <li ng-repeat="item in data | filter:{Type:0}" ng-include="'app_admin/views/layout/_layout-item.html'" ng-class="{'active':layout.LayoutID == item.LayoutID}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3">
                            Snippet
                        </a>
                    </h4>
                </div>
                <div id="collapse_3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="{'active': mode == 'add' && layout.Type == 2}">
                                <a class="text-danger" href="" ng-click="new(2)">
                                    <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                </a>
                            </li>
                            <li ng-repeat="item in data | filter:{Type:2}" ng-include="'app_admin/views/layout/_layout-item.html'" ng-class="{'active':layout.LayoutID == item.LayoutID}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2">
                            Module
                        </a>
                    </h4>
                </div>
                <div id="collapse_2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="{'active': mode == 'add' && layout.Type == 1}">
                                <a class="text-danger" href="" ng-click="new(1)">
                                    <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                </a>
                            </li>
                            <li ng-repeat="item in data | filter:{Type:1}" ng-include="'app_admin/views/layout/_layout-item.html'" ng-class="{'active':layout.LayoutID == item.LayoutID}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4">
                            Script
                        </a>
                    </h4>
                </div>
                <div id="collapse_4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="{'active': mode == 'add' && layout.Type == 3}">
                                <a class="text-danger" href="" ng-click="new(3)">
                                    <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                </a>
                            </li>
                            <li ng-repeat="item in data | filter:{Type:3}" ng-include="'app_admin/views/layout/_layout-item.html'" ng-class="{'active':layout.LayoutID == item.LayoutID}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 form-group">
                <button class="btn blue" ng-click="save()" ng-disabled="mode == 'init'"><i class="icon-save"></i> Lưu</button>
                <button class="btn black" ng-click="delete()" ng-if="mode != 'add' && layout.SourceType != 2" ng-disabled="mode == 'init'"><i class="icon-remove"></i> {{deleteText}}</button>
                <button class="btn yellow pull-right" ng-click="refreshCache()"><i class="icon-refresh"></i> Refresh cache</button>
            </div>
        </div>
        <!-- BEGIN FORM-->
        <div class="row" ng-if="mode == 'add'">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" placeholder="Mã layout" name="LayoutID" ng-model="layout.LayoutID" maxlength="50" />
            </div>
        </div>
        <div class="row" ng-if="mode == 'add'">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" placeholder="Tên layout" name="Name" ng-model="layout.Name" required maxlength="250" />
                <span class="help-block" ng-show="layoutForm.Name.$dirty && layoutForm.Name.$invalid">Chưa điền tên.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-code-editor="" id="editor" class="form-control code-editor" ng-model="layout.Content" mode="editorMode"></div>
            </div>
        </div>
        <!-- END FORM-->
    </div>
</div>
