﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> {{title}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/ui/layout">Layout template</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/ui/layout/layout-addedit">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form name="layoutForm" class="horizontal-form" novalidate>
                    <div class="form-actions top fluid">
                        <div class="centered-content">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="layoutForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Mã layout</label>
                                    <input type="text" class="form-control" placeholder="Mã layout" name="LayoutID" ng-model="obj.LayoutID" maxlength="50" ng-disabled="!isNew" />
                                </div>
                                <div class="form-group" ng-class="{'has-error' : layoutForm.Name.$dirty && layoutForm.Name.$invalid}">
                                    <label class="control-label">Tên layout<span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="Tên layout" name="Name" ng-model="obj.Name" required maxlength="250" />
                                    <span class="help-block" ng-show="layoutForm.Name.$dirty && layoutForm.Name.$invalid">Chưa điền tên.</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label ">Mô tả</label>
                                    <textarea class="form-control" name="Description" ng-model="obj.Description" maxlength="500" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label ">Loại layout <span class="required">*</span></label>
                                    <select class="form-control " ng-model="obj.Type">
                                        <option value="0">Page</option>
                                        <option value="1">Module</option>
                                        <option value="2">Snippet</option>
                                        <option value="3">Script</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Thứ tự hiển thị</label>
                                    <input type="text" class="form-control" ng-spin-number model="obj.SortOrder" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Cấu hình</label>
                                    <div class="checkbox-list">
                                        <label>
                                            <input type="checkbox" name="IsEnabled" ng-model="obj.IsEnabled" /> Hoạt động
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label ">Nội dung<span class="required">*</span></label>
                                    <div ng-code-editor="" id="editor" class="form-control code-editor" ng-model="obj.Content" mode="editorMode" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="centered-content">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="layoutForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
