﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/resource">Cấu hình</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/resource/resource-addedit">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-resource" data-toggle="modal" class="resource"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form name="resourceForm" class="form-horizontal" novalidate>
                    <div class="form-actions top fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="resourceForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Mã <span class="required">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Mã resource" name="ResourceID" ng-model="obj.ResourceID" required maxlength="50" ng-disabled="!isNew" />
                                <span class="help-block" ng-show="resourceForm.ResourceID.$dirty && resourceForm.ResourceID.$invalid">Chưa điền mã.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : resourceForm.Name.$dirty && resourceForm.Name.$invalid}">
                            <label class="control-label col-md-3">Tên resource<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Tên resource" name="Name" ng-model="obj.Name" required maxlength="250" />
                                <span class="help-block" ng-show="resourceForm.Name.$dirty && resourceForm.Name.$invalid">Chưa điền tên.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Mô tả</label>
                            <div class="col-md-8">
                                <textarea class="form-control" placeholder="Mô tả" name="Description" ng-model="obj.Description" maxlength="500" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-4">
                                <div ng-checkbox title="Nội dung html" model="obj.DisplayAsHtml"></div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : resourceForm.Value.$dirty && resourceForm.Value.$invalid}">
                            <label class="control-label col-md-3">Nội dung<span class="required">*</span></label>
                            <div class="col-md-8">
                                <div ng-type-editor="" id="Value" type="editorType" model="obj.Value"></div>
                                <input type="hidden" class="form-control" name="Value" ng-model="obj.Value" required />
                                <span class="help-block" ng-show="resourceForm.Value.$dirty && resourceForm.Value.$invalid">Giá trị mặc định.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="resourceForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
