﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Nội dung <small> Cấu hình resource cho hệ thống các website</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/resource"> {{title}} </a>
            </li>

            <li class="btn-group">
                <button data-close-others="true" data-delay="1000" data-hover="dropdown" data-toggle="dropdown" class="btn blue dropdown-toggle" type="button">
                    <i class="icon-angle-down"></i>
                </button>
                <ul role="menu" class="dropdown-menu pull-right">
                    <li>
                        <a href="#/resource/add"><i class="icon-plus"></i> Thêm mới</a>
                    </li>
                    <li>
                        <a href="" ng-click="refreshCache()"><i class="icon-refresh"></i> Refresh cache</a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li ng-class="{'active' : searchObj.Group == ''}"><a href="" ng-click="filterGroup('')">Tất cả</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Website'}"><a href="" ng-click="filterGroup('Website')">Website</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Message'}"><a href="" ng-click="filterGroup('Message')">Thông báo</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Template'}"><a href="" ng-click="filterGroup('Template')">Email template</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Custom'}"><a href="" ng-click="filterGroup('Custom')">Tự định nghĩa</a></li>
            <li>
                <input type="hidden" ng-select-lang settings="{placeholder:  'Chọn ngôn ngữ', width:'150px' }" model="selectedLang" />
            </li>
            <li>
                <input type="text" class="form-control" placeholder="Tìm kiếm" ng-model="searchObj.$">
            </li>
        </ul>

        <div class="tab-content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 100px">Resource</th>
                        <th>Nội dung</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data | filter:searchObj">
                        <td>
                            <div class="resource-info-container">
                                <p>
                                    <i class="icon-question-sign icon-help tooltips" data-html="true" title="{{item.Description}}"></i>
                                    {{item.Name}}
                                </p>
                                <span class="text-danger btn-icon-only" ng-click="delete(item.ResourceID)"><i class="icon-remove tooltips" ng-if="item.Group == 'Custom'" title="Xóa"></i></span> 
                                <code><span>{{</span>{{ item.ResourceID }}<span>}}</span></code>
                            </div>
                        </td>
                        <td>
                            <div ng-bind-html="item.Value" class="resource-value-container" data-name="{{item.Name}}" data-code="{{item.ResourceID}}" data-displayashtml="{{item.DisplayAsHtml}}">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="resourceEditorDialog" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{{objEdit.Name}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div ng-type-editor="" id="objEdit_DefaultValue" type="objEdit.EditorType" model="objEdit.Value"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" ng-click="update()">Cập nhật</button>
                <button type="button" data-dismiss="modal" class="btn default">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
