﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> Thiết lập các giá trị cấu hình cho hệ thống các website</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/configuration"> {{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="toolbar" style="margin-bottom: 5px">
            <a class="btn blue" href="#/configuration/add">
                <i class="icon-plus"></i> Thêm mới
            </a>
            <button class="btn yellow" ng-click="">
                <i class="icon-refresh"></i> Refresh cache
            </button>
        </div>
        <table class="table table-striped table-bordered table-hover" id="configurationTable"></table>
    </div>
</div>
