﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/configuration">Cấu hình</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/configuration/configuration-addedit">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form name="configForm" class="form-horizontal" novalidate>
                    <div class="form-actions top fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="configForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Mã cấu hình<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Mã cấu hình" name="ConfigID" ng-model="obj.ConfigID" required maxlength="50" ng-disabled="!isNew" />
                                <span class="help-block" ng-show="configForm.ConfigID.$dirty && configForm.ConfigID.$invalid">Chưa điền mã.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Nhóm</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Nhóm" name="Group" ng-model="obj.Group" />
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : configForm.Name.$dirty && configForm.Name.$invalid}">
                            <label class="control-label col-md-3">Tên cấu hình<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Tên cấu hình" name="Name" ng-model="obj.Name" required maxlength="250" />
                                <span class="help-block" ng-show="configForm.Name.$dirty && configForm.Name.$invalid">Chưa điền tên.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-3">Mô tả</label>
                            <div class="col-md-8">
                                <textarea class="form-control" placeholder="Mô tả" name="Description" ng-model="obj.Description" maxlength="500" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Kiểu dữ liệu</label>
                            <div class="col-md-2">
                                <select name="DataType" ng-model="obj.DataType" class="form-control input-small">
                                    <option value="String">String</option>
                                    <option value="Html">Html</option>
                                    <option value="Number">Number</option>
                                    <option value="Decimal">Decimal</option>
                                    <option value="Boolean">Boolean</option>
                                    <option value="DateTime">DateTime</option>
                                    <option value="Date">Date</option>
                                    <option value="Time">Time</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : configForm.DefaultValue.$dirty && configForm.DefaultValue.$invalid}">
                            <label class="control-label col-md-3">Giá trị mặc định<span class="required">*</span></label>
                            <div class="col-md-8">
                                <div ng-type-editor="" id="DefaultValue" type="obj.DataType" model="obj.DefaultValue"></div>
                                <input type="hidden" class="form-control" name="DefaultValue" ng-model="obj.DefaultValue" required />
                                <span class="help-block" ng-show="configForm.DefaultValue.$dirty && configForm.DefaultValue.$invalid">Giá trị mặc định.</span>
                                <!--<span class="help-block" >{{obj.DefaultValue}}</span>-->
                                <!--<input type="text" ng-input-decimal class="form-control input-small" model="obj.DefaultValue" />
                                <input type="text" ng-input-number class="form-control input-small" model="obj.DefaultValue" />-->

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Role có quyền xem</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Role có quyền xem" name="RolesToView" ng-model="obj.RolesToView" maxlength="250" />
                                <span class="help-block">Các role cách nhau bởi dấu ';' - nhập '*' để cho phép tất cả </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Role có quyền sửa</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Role có quyền cài đặt" name="RolesToEdit" ng-model="obj.RolesToEdit" maxlength="250" />
                                <span class="help-block">Các role cách nhau bởi dấu ';' - nhập '*' để cho phép tất cả </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Control sửa</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Control sửa" name="EditingControl" ng-model="obj.EditingControl" maxlength="250" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Thứ tự hiển thị</label>
                            <div class="col-md-2">
                                <div class="form-control input-small" style="width:150px" ng-jqx-number-input="{ height: '32px', spinButtons: true, decimalDigits: 0, inputMode: 'simple', min: -10 , max: 99999}" ng-model="obj.SortOrder" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-4">
                                <div ng-checkbox title="Cho phép hiển thị" model="obj.IsEnabled"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="configForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
