﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> Cấu hình resource cho hệ thống các website</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/resource"> {{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="toolbar" style="margin-bottom: 5px">
            <a class="btn blue" href="#/resource/add">
                <i class="icon-plus"></i> Thêm mới
            </a>
            <input type="hidden" ng-select-lang settings="{placeholder:  'Chọn ngôn ngữ', width:'150px' }" model="selectedLang" />

            <!--<button class="btn yellow" ng-click="">
                <i class="icon-refresh"></i> Refresh cache
            </button>-->
        </div>
        <table class="table table-striped table-bordered table-hover" id="resourceTable"></table>
    </div>
</div>
<div id="resourceEditorDialog" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{{objEdit.Name}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div ng-type-editor="" id="objEdit_DefaultValue" type="objEdit.EditorType" model="objEdit.Value"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" ng-click="update()">Cập nhật</button>
                <button type="button" data-dismiss="modal" class="btn default">Close</button>
            </div>
        </div>
    </div>
</div>