﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Giao diện <small>Chọn và tùy biến giao diện cho website</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/ui/theme"> Giao diện </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p>
                Theme đang sử dụng: <strong>{{currentTheme}}</strong>
                <a class="btn btn-xs yellow" href="#/ui/theme/files/{{currentTheme}}"><i class="icon-pencil"></i> Tùy chỉnh</a> hoặc 
                <a class="btn btn-xs blue" href="#/ui/theme/add"><i class="icon-plus"></i> Tạo theme mới</a>
            </p>
        </div>
    </div>
</div>

<div class="margin-top-10">
    <ul class="mix-filter">
        <li class="filter" data-filter="all">All</li>
        <li class="filter" data-filter="category_1">Công nghệ</li>
        <li class="filter" data-filter="category_2">Thời trang</li>
        <li class="filter" data-filter="category_3">Công ty</li>
        <li class="filter" data-filter="category_3 category_1">Khác</li>
    </ul>
    <div class="row mix-grid">
        <div class="col-md-3 col-sm-4 mix category_1" ng-repeat="item in data">
            <div class="mix-inner">
                <img class="img-responsive" src="{{item.Preview}}" alt="">
                <div class="mix-title">{{item.Name}}</div>
                <div class="mix-details">
                    <h4>{{item.Name}}</h4>
                    <div class="mix-buttons">
                        <a class="mix-button tooltips" href="" title="Sử dụng giao diện này" ng-click="useTheme(item.ThemeCode)">
                            <i class="icon-ok"></i>
                        </a>
                        <a class="mix-button tooltips" href="" title="Xem trước giao diện" ng-click="previewTheme(item.ThemeCode)">
                            <i class="icon-eye-open"></i>
                        </a>
                        <a class="mix-button tooltips btn-view-large" title="Xem hình lớn" data-fancybox-href="{{item.PreviewLarge}}"
                           data-fancybox-title="{{item.Name}}: {{item.Description}}" data-rel="themes">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        $('.mix-grid').mixitup();
    }());
</script>