﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
                <button class="btn blue tooltips" type="button" data-toggle="tooltip" data-original-title="Xóa toàn bộ thùng rác" ng-click="empty()">
                  <i class="icon-trash"></i>  Xóa toàn bộ
                </button>
            </li>
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article">Bài viết</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article/article-category">Nhóm bài viết</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article/article-category/trash">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div id="grid">
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
