﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
                <a href="#/article/article-category/trash">
                    <button class="btn blue tooltips" type="button" data-toggle="tooltip" data-original-title="Thùng rác">
                        <i class="icon-trash"></i>
                    </button>
                </a>
            </li>
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article">Bài viết</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#/article/article-category">Nhóm bài viết</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <a class="btn green" href="#/article/article-category/add" style="margin-bottom: 5px">
            Thêm mới <i class="icon-plus"></i>
        </a>
        <div id="treeGrid">
        </div>
        <div id='Menu' ng-show="ready">
            <ul>
                <li>Edit Selected Row</li>
                <li>Delete Selected Row</li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
