﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Danh sách bài viết
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
                <a href="#/article/article-trash">
                    <button class="btn blue tooltips" type="button" data-toggle="tooltip" data-original-title="Thùng rác">
                        <i class="icon-trash"></i>
                    </button>
                </a>
            </li>
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article">Bài viết</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#/article/article-list">Danh sách bài viết</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="toolbar" style="margin-bottom: 5px">
            <a class="btn blue tooltips" href="#/article/article/add" data-toggle="tooltip" data-original-title="Thêm mới">
                <i class="icon-plus"></i> Thêm mới
            </a>
            <a class="btn yellow tooltips btn-search" data-toggle="tooltip" data-original-title="Tìm kiếm" ng-click="toggleSearchPanel()">
                <i class="icon-search"></i> Tìm kiếm
            </a>
        </div>
        <div class="portlet box-search">
            <div class="portlet-body collapse form">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <h4 class="form-section">Tìm kiếm</h4>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Từ khóa</label>
                                    <input type="text" class="form-control" placeholder="Từ khóa" ng-model="queryObj.Title">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nhóm</label>
                                    <div class="input-group" ng-article-category-tree dropdown-settings="{ width: '100%', height: 32}" ng-model="queryObj.CategoryIds" multi-select="true"
                                         tree-settings="{ width: '100%', checkboxes: true}" id-field="ArticleCategoryID" parent-field="ParentID" text-field="Name">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Hiển thị</label>
                                    <select class="form-control" ng-model="queryObj.IsEnabled">
                                        <option value="">--Tất cả--</option>
                                        <option value="true">Có</option>
                                        <option value="false">Không</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Nổi bật</label>
                                    <select class="form-control" ng-model="queryObj.IsHot">
                                        <option value="">--Tất cả--</option>
                                        <option value="true">Có</option>
                                        <option value="false">Không</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Đã duyệt</label>
                                    <select class="form-control" ng-model="queryObj.IsApproved">
                                        <option value="">--Tất cả--</option>
                                        <option value="true">Có</option>
                                        <option value="false">Không</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Cho phép comment</label>
                                    <select class="form-control" ng-model="queryObj.AllowComment">
                                        <option value="">--Tất cả--</option>
                                        <option value="true">Có</option>
                                        <option value="false">Không</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h4 class="form-section">Sắp xếp</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Sắp xếp theo</label>
                                    <select class="form-control" ng-model="queryObj.SortField">
                                        <option value="GlobalID">Ngày tạo</option>
                                        <option value="DisplayDatetime">Ngày hiển thị</option>
                                        <option value="SortOrder">Thứ tự hiển thị</option>
                                        <option value="Title">Tiêu đề</option>
                                        <option value="ViewCount">Số lượt xem</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Thứ tự</label>
                                    <select class="form-control" ng-model="queryObj.SortDirection">
                                        <option value="ASC">Tăng dần</option>
                                        <option value="DESC">Giảm dần</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn default" ng-click="queryReset()">Bỏ qua</button>
                        <button id="btnQuery" type="button" class="btn blue" ng-click="query()"><i class="icon-ok"></i> Áp dụng</button>
                    </div>
                </form>
                <!-- END FORM-->

            </div>
        </div>

        <table st-table="data" st-pipe="getData" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="width: 92px"></th>
                    <th style="width: 80px">Ảnh</th>
                    <th st-sort="Content.Title">Tiêu đề</th>
                    <th style="width: 120px">Ngày hiển thị</th>
                    <th style="width: 80px">Hiển thị</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td>
                        <a class="func-edit btn btn-xs green" href="#/article/article/edit/{{item.ArticleID}}"><span class="icon-pencil"></span></a>
                        <a class="func-copy btn btn-xs blue" href="#/article/article/copy/{{item.ArticleID}}"><span class="icon-copy"></span></a>
                        <a class="func-delete btn btn-xs red" data="{{item.ArticleID}}"><span class="icon-trash"></span></a>
                    </td>
                    <td><div class="grid-thumb-cell article-thumb"><img width="65" height="45" src="{{item.ThumbImage}}" /></div></td>
                    <td><a href="http://localhost:14480/ad/{{item.Content.SeoTitle}}/{{item.ArticleID}}" target="_blank">{{item.Content.Title}}</a></td>
                    <td>
                        <span>{{item.DisplayDatetime | date}}</span>
                    </td>
                    <td class="text-center">
                        <div ng-if="item.IsApproved">
                            <div ng-if="item.IsEnabled">
                                <span class="mark-visible"><i class="icon-eye-open"></i> {{item.Statistic.ViewCount}}</span>
                                <span class="mark-allowcomment">
                                    <i class="icon-comments" ng-if="item.AllowComment"></i> {{item.DiscussionGroup.DiscussionCount}}
                                </span>
                                <i class="icon-star text-warning mark-hot" ng-if="item.IsHot"></i>
                            </div>
                            <i class="icon-eye-close mark-invisiable" ng-if="!item.IsEnabled"></i>
                        </div>
                        <i class="icon-pencil mark-unapproved" ng-if="!item.IsApproved"></i>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="queryObj.PageSize" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- END PAGE CONTENT-->
