﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article">Bài viết</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article/article-category">Nhóm bài viết</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article/article-category-addedit">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN VALIDATION STATES-->
                <div class="portlet box purple">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#portlet-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form name="acForm" class="horizontal-form" novalidate>

                            <div class="form-actions top fluid">
                                <div class="centered-content">
                                    <button type="button" class="btn green" ng-click="save()" ng-disabled="acForm.$invalid">{{saveButton}}</button>
                                    <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                                </div>
                            </div>

                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label">Thuộc nhóm</label>
                                            <div class="input-group" ng-jqx-dropdown-tree dropdown-settings="{ width: '100%', height: 32}" ng-track="track" ng-model="obj.ParentID"
                                                 tree-settings="{ width: '100%'}" ng-source="source" id-field="ArticleCategoryID" parent-field="ParentID" text-field="Name">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error' : acForm.Name.$dirty && acForm.Name.$invalid}">
                                            <label class="control-label">Tên nhóm<span class="required">*</span></label>
                                            <input type="text" class="form-control" placeholder="Tên nhóm" name="Name" ng-model="obj.Content.Name" required maxlength="250" ng-change="updateSeoName()" />
                                            <span class="help-block" ng-show="acForm.Name.$dirty && acForm.Name.$invalid">Chưa điền tên nhóm.</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Tên trên URL</label>
                                            <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="SeoName" ng-model="obj.Content.SeoName" maxlength="250" />
                                            <span class="help-block">url: /{{obj.Content.SeoName}}.html</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Mô tả</label>
                                            <textarea class="form-control" name="Description" ng-model="obj.Content.Description" maxlength="500" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Tiêu đề SEO</label>
                                            <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaTitle" ng-model="obj.Content.MetaTitle" maxlength="250" />
                                            <span class="help-block">{{obj.Content.MetaTitle?obj.Content.MetaTitle:obj.Content.Name}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Từ khóa SEO</label>
                                            <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaKeyword" ng-model="obj.Content.MetaKeyword" maxlength="500" />
                                            <span class="help-block">{{obj.Content.MetaKeyword?obj.Content.MetaKeyword:obj.Content.Name}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Mô tả SEO</label>
                                            <textarea class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaDescription" ng-model="obj.Content.MetaDescription" maxlength="500" />
                                            <span class="help-block">{{obj.Content.MetaDescription?obj.Content.MetaDescription:obj.Content.Description}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Thứ tự hiển thị</label>
                                            <div>
                                                <div class="form-control input-small" ng-jqx-number-input="{ height: '32px', spinButtons: true, decimalDigits: 0, inputMode: 'simple', min: -10 , max: 99999}" ng-model="obj.SortOrder" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Cấu hình</label>
                                            <div class="checkbox-list">
                                                <label>
                                                    <input type="checkbox" name="IsHot" ng-model="obj.IsHot" /> Nổi bật
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="AllowComment" ng-model="obj.AllowComment" /> Cho phép bình luận
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="IsEnabled" ng-model="obj.IsEnabled" /> Hoạt động
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="DisplayArticleThumb" ng-model="obj.DisplayArticleThumb" /> Hiển thị ảnh minh họa bài viết
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Ảnh minh họa</label>
                                            <div ng-file-upload="" ng-model="obj.ThumbImage" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-actions fluid">
                                <div class="centered-content">
                                    <button type="button" class="btn green" ng-click="save()" ng-disabled="acForm.$invalid">{{saveButton}}</button>
                                    <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END VALIDATION STATES-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
