﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article">Bài viết</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article/article-list">Danh sách bài viết</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/article/article-addedit">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN VALIDATION STATES-->
                <div class="portlet box {{color}}">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#portlet-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form name="addeditForm" class="horizontal-form" novalidate>
                            <div class="form-actions top fluid">
                                <div class="centered-content">
                                    <button type="button" class="btn {{color}}" ng-click="save()" ng-disabled="addeditForm.$invalid">{{saveButton}}</button>
                                    <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label class="control-label">Thuộc nhóm</label>
                                            <div class="input-group" ng-jqx-dropdown-tree dropdown-settings="{ width: '100%', height: 32}" ng-model="obj.CategoryIds" multi-select="true"
                                                 tree-settings="{ width: '100%', checkboxes: true}" ng-source="categorySource" id-field="ArticleCategoryID" parent-field="ParentID" text-field="Name">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error' : addeditForm.Title.$dirty && addeditForm.Title.$invalid}">
                                            <label class="control-label">Tiêu đề<span class="required">*</span></label>
                                            <input type="text" class="form-control" placeholder="Tiêu đề bài viết" name="Title" ng-model="obj.Content.Title" required maxlength="250" ng-change="updateSeoTitle()" />
                                            <span class="help-block" ng-show="addeditForm.Title.$dirty && addeditForm.Title.$invalid">Chưa nhập.</span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Mô tả</label>
                                            <textarea class="form-control" name="Description" ng-model="obj.Content.Description" maxlength="500" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Tags </label>
                                            <input type="hidden" class="form-control" ng-tag-input="" ng-model="obj.TagValues">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nội dung<span class="required">*</span></label>
                                            <textarea class="form-control" ng-html-editor="" cols="80" id="Content" name="Content" ng-model="obj.Content.Content" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label class="control-label ">Ngày hiển thị</label>
                                            <input class="form-control form-control-inline" size="16" type="text" title="ngày/tháng/năm" ng-date-picker="" ng-model-date="obj.DisplayDatetime" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Thứ tự hiển thị</label>
                                            <!--<div class="form-control" ng-jqx-number-input="{ height: '32px', width: '100%', spinButtons: true, decimalDigits: 0, inputMode: 'simple', min: -10 , max: 99999}" ng-model="obj.SortOrder" />-->
                                            <input type="text" class="form-control" ng-spin-number model="obj.SortOrder" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Ảnh</label>
                                            <div ng-file-upload="" ng-model="obj.ThumbImage" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Cấu hình</label>
                                            <div ng-checkbox title="Duyệt nội dung" model="obj.IsApproved"></div>
                                            <div ng-checkbox title="Hiển thị" model="obj.IsEnabled"></div>
                                            <div ng-checkbox title="Nổi bật" model="obj.IsHot"></div>
                                            <div ng-checkbox title="Cho phép bình luận" model="obj.AllowComment"></div>
                                            <div ng-checkbox title="Cho phép chia sẻ" model="obj.IsGlobalDisplay"></div>
                                            <div ng-checkbox title="Có video" model="obj.HaveVideo"></div>
                                            <div ng-checkbox title="Có ảnh" model="obj.HavePhoto"></div>
                                            <div ng-checkbox title="Có file đính kèm" model="obj.HaveAttachFile"></div>                                            
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label ">Tiêu đề trên URL</label>
                                            <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="SeoTitle" ng-model="obj.Content.SeoTitle" maxlength="250" />
                                            <span class="help-block">url: /{{obj.Content.SeoTitle}}.html</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Tiêu đề SEO</label>
                                            <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaTitle" ng-model="obj.Content.MetaTitle" maxlength="250" />
                                            <span class="help-block">{{obj.Content.MetaTitle?obj.Content.MetaTitle:obj.Content.Title}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Từ khóa SEO</label>
                                            <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaKeyword" ng-model="obj.Content.MetaKeyword" maxlength="500" />
                                            <span class="help-block">{{obj.Content.MetaKeyword?obj.Content.MetaKeyword:obj.Content.Title}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Mô tả SEO</label>
                                            <textarea class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaDescription" ng-model="obj.Content.MetaDescription" maxlength="500" />
                                            <span class="help-block">{{obj.Content.MetaDescription?obj.Content.MetaDescription:obj.Content.Description}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions fluid">
                                <div class="centered-content">
                                    <button type="button" class="btn {{color}}" ng-click="save()" ng-disabled="addeditForm.$invalid">{{saveButton}}</button>
                                    <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END VALIDATION STATES-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

