﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> {{title}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/ui/theme"> {{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="toolbar" style="margin-bottom: 5px">
            <a class="btn blue" href="#/ui/theme/add">
                <i class="icon-plus"></i> Thêm mới
            </a>
        </div>
        <table class="table table-striped table-bordered table-hover" id="themeTable"></table>

    </div>
</div>
