﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> {{title}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/ui/theme">Mẫu giao diện</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/ui/theme/theme-addedit">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form name="themeForm" class="form-horizontal" novalidate>
                    <div class="form-actions top fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="themeForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Mã theme<span class="required">*</span></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Mã theme" name="ThemeCode" ng-model="obj.ThemeCode" required maxlength="50" ng-disabled="!isNew" />
                                <span class="help-block" ng-show="themeForm.ThemeCode.$dirty && themeForm.ThemeCode.$invalid">Chưa điền mã.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Nhóm</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Nhóm" name="ThemeCategoryID" ng-model="obj.ThemeCategoryID" />
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : themeForm.Name.$dirty && themeForm.Name.$invalid}">
                            <label class="control-label col-md-3">Tên theme<span class="required">*</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Tên theme" name="Name" ng-model="obj.Name" required maxlength="250" />
                                <span class="help-block" ng-show="themeForm.Name.$dirty && themeForm.Name.$invalid">Chưa điền tên.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-3">Mô tả</label>
                            <div class="col-md-6">
                                <textarea class="form-control" placeholder="Mô tả" name="Description" ng-model="obj.Description" maxlength="500" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Kế thừa từ theme</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Kế thừa từ theme" name="BasedTheme" ng-model="obj.BasedTheme" maxlength="250" />
                                <span class="help-block">Nhập mã theme cho kế thừa</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Role có quyền xem</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Role có quyền xem" name="RolesToView" ng-model="obj.RolesToView" maxlength="250" />
                                <span class="help-block">Các role cách nhau bởi dấu ';' - nhập '*' để cho phép tất cả </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Role có quyền cài đặt</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Role có quyền cài đặt" name="RolesToInstall" ng-model="obj.RolesToInstall" maxlength="250" />
                                <span class="help-block">Các role cách nhau bởi dấu ';' - nhập '*' để cho phép tất cả </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Tác giả</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Tác giả" name="Author" ng-model="obj.Author" maxlength="250" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Thứ tự hiển thị</label>
                            <div class="col-md-1">
                                <div class="form-control" ng-jqx-number-input="{ height: '32px', spinButtons: true, decimalDigits: 0, inputMode: 'simple', min: -10 , max: 99999}" ng-model="obj.SortOrder" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-4">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="IsEnabled" ng-model="obj.IsEnabled" /> Cho phép hiển thị
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="themeForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
