﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> {{title}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/ui/theme">Mẫu giao diện</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/ui/theme/theme-resources">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="page-breadcrumb breadcrumb resource-breadcrumb">
                    <li class="btn-group">
                        <button data-close-others="true" data-delay="1000" data-hover="dropdown" data-toggle="dropdown" class="btn blue dropdown-toggle" type="button">
                            <i class="icon-angle-down"></i>
                        </button>
                        <ul role="menu" class="dropdown-menu pull-right">
                            <li><a href="" ng-click="rename()"><i class="icon-edit"></i> Đổi tên</a></li>
                            <li><a href="" ng-click="delete()"><i class="icon-remove"></i> Xóa</a></li>
                            <li><a href="" ng-click="mkdir()"><i class="icon-folder-open"></i> Thêm thư mục</a></li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="editFile()"><i class="icon-pencil"></i>Sửa file</a></li>
                            <li><a href="" ng-click="addFile()"><i class="icon-file-text"></i>Tạo file mới</a></li>
                        </ul>
                    </li>
                    <li ng-repeat="p in paths">
                        <i class="icon-folder-open" ng-if="$first"></i>
                        <a href="" ng-click="parent($index);">{{p}}</a>
                        <i class="icon-angle-right" ng-if="!$last"></i>
                    </li>

                </ul>

                <div ng-file-upload="{hideThumb : true, location: 'themes'}" dir="currentFolder" uploadsuccess="uploadSuccess" ng-model="uploadedFile" class="well" />

                <div class="row file-list">
                    <div class="col-md-1 col-sm-2 col-xs-4 mix file-item-wrapper "  ng-repeat="item in files">
                        <div class="file-item" data="{{item.Name}}">
                            <!--<i class="file-item-file-icon glyphicon glyphicon-file" ng-if="!item.IsDirectory"></i>-->
                            <div class="file-item-icon" ng-bind-html="thumb(item)">
                            </div>
                            <div class="file-item-details">
                                <a href="" class="tooltips" title="{{item.Name}}"  ng-click="goto(item.Name);" ng-if="item.IsDirectory"> {{item.Name}}</a>
                                <span class="tooltips" title="{{item.Name}} ({{convertSize(item.Size)}})" ng-if="!item.IsDirectory" > {{item.Name}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet box-file-addedit">
                    <div class="portlet-body collapse form">
                        <!-- BEGIN FORM-->
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <h2 class="form-section">
                                    Tạo file
                                    <div class="pull-right">
                                        <button type="button" class="btn default" ng-click="cancelAddEdit()">Bỏ qua</button>
                                        <button id="btnQuery" type="button" class="btn blue" ng-click="save()"><i class="icon-ok"></i> Lưu</button>
                                    </div>
                                </h2>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Tên file<span class="required">*</span></label>
                                        <input type="text" class="form-control" placeholder="Từ khóa" ng-model="objFile.Name" ng-disabled="isEditingFile">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label ">Nội dung<span class="required">*</span></label>
                                        <div ng-code-editor="" id="editor" class="form-control code-editor" ng-model="objFile.Content" mode="fileType" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="button" class="btn default" ng-click="cancelAddEdit()">Bỏ qua</button>
                                    <button id="btnQuery" type="button" class="btn blue" ng-click="save()"><i class="icon-ok"></i> Lưu</button>
                                </div>

                            </div>
                        </form>
                        <!-- END FORM-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
