﻿.module-base-block {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 5px 2px;
}

.module-base-uninstall {
    background: #FCF8E3;
    border: 1px solid #fccb7e;
}


.module-base-block .module-base-info h4{
    padding-right: 120px;
}


.module-base-block .module-base-thumbnail {
    width: 80px;
    float: left;
    margin-right: 20px;
}



.module-base-block .module-base-version {
}

.module-base-block .module-base-author {
}

.module-base-block .module-base-manage {
    font-size: 14px;
    width: 90px;
    position: absolute;
    top: 1px;
    right: 1px;
}
