/* here you can put your own css to customize and override the theme */

/* wcOverlay directive CSS styles */
.overlayContainer {
    display: none;
}

.overlayBackground {
    top: 0px;
    left: 0px;
    padding-left: 100px;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: #808080;
    opacity: 0.3;
}

.overlayContent {
    position: absolute;
    font-weight: bold;
    height: 100px;
    width: 300px;
    z-index: 1000;
    text-align: center;
}

.loading-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #212121;
    z-index: 9999;
}

.loading-img {
    margin: auto;
    width: 128px;
    height: 128px;
    padding: 0;
}

.dropdown-tree-labels {
    margin: 7px 0;
}

    .dropdown-tree-labels span {
        background: #EEEEEE;
        margin: 0 5px;
        padding: 2px 5px;
    }

.grid-cell-content-wrap {
    overflow: hidden;
    padding-bottom: 2px;
    text-align: left;
    padding: 16px 5px;
    height: 100px;
}

.function-cell {
    padding: 10px 5px;
}

.fileupload-new img {
    max-width: 100%;
    max-height: 100%;
}

.file-upload-container {
}

    .file-upload-container .thumbnail {
        max-width: 200px;
        max-height: 150px;
        overflow: hidden;
    }

    .file-upload-container .progress {
        margin: 5px 0;
    }

    .file-upload-container p {
        margin: 5px 0;
    }

    .file-upload-container .fileinput-button {
        margin-right: 5px;
    }

.grid-thumb-cell {
    width: 100%;
    text-align: center;
    padding-top: 2px;
}

    .grid-thumb-cell img {
    }

.article-thumb {
}

.box-search {
    margin-bottom: 0;
}

    .box-search .portlet-body {
        border: 1px solid #e5e5e5;
        margin-bottom: 10px;
    }

    .box-search h4.form-section {
        margin: 0 0 10px 0;
    }

.centered-content {
    margin: 0 auto;
    text-align: center;
}

.code-editor {
    width: 100%;
    height: 600px;
    font-size: 14px;
}

.grid-medium-row {
}

    .grid-medium-row .grid-cell-content-wrap {
        padding: 10px 5px;
    }

    .grid-medium-row .function-cell {
        padding: 4px 5px;
    }

    .grid-medium-row .function-cell-small {
        padding: 8px 5px;
    }

.system-layout {
    color: #f97000;
    font-weight: 600;
}

.toolbar {
    margin-bottom: 5px;
}

.file-item-folder-icon {
    color: #f7c52e;
    font-size: 40px;
}

.file-item-file-icon {
    color: #8E8E8E;
    font-size: 40px;
}

.toolbar {
    margin-bottom: 10px;
}

.file-list {
    padding: 10px;
}

.file-item-wrapper {
    padding: 0 5px;
}

.file-item {
    padding: 4px;
    word-wrap: break-word;
    cursor: pointer;
    margin: 5px 0;
    text-align: center;
}

    .file-item:hover {
        background: #F7786A;
    }

.file-item-selected, .file-item-selected:hover {
    background: #ED5E4E;
}

    .file-item:hover i, .file-item-selected i, .file-item:hover a, .file-item-selected a {
        color: #fff;
    }

.file-item-details {
    height: 3em;
    overflow: hidden;
    text-align: center;
}

.resource-breadcrumb {
    margin: 5px 0 !important;
}

    .resource-breadcrumb .btn-group {
        right: 25px !important;
    }

.file-item-icon {
    margin: 0 auto;
    vertical-align: bottom;
    height: 55px;
    padding-bottom: 6px;
    padding-right: 1px;
    overflow: hidden;
    text-align: center;
}

    .file-item-icon img {
        max-width: 70px;
        max-height: 45px;
    }

.editableform .form-group {
    margin: 0;
}

.resource-value-container, .config-value-container {
    cursor: pointer;
    max-height: 26px;
    overflow: hidden;
}

/* Transitions */
/* Default Enter/Leave */
.ng-enter,
.ng-leave {
    /*transition-timing-function*/
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    /*transition-duration*/
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    /*transition-property*/
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.ng-enter {
    opacity: 0;
}

    .ng-enter.ng-enter-active {
        opacity: 1;
    }

.ng-leave {
    opacity: 1;
}

    .ng-leave.ng-leave-active {
        opacity: 0;
    }
/* crossFade */
.crossFade.ng-enter {
    /*transition-duration*/
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    opacity: 0;
}

    .crossFade.ng-enter.ng-enter-active {
        opacity: 1;
    }

.crossFade.ng-leave {
    /*transition-duration*/
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    opacity: 1;
}

    .crossFade.ng-leave.ng-leave-active {
        opacity: 0;
    }
/* slideRight */
.slideRight {
    opacity: 1 !important;
}

    .slideRight.ng-enter {
        /*transition-property*/
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
        /*transform*/
        -webkit-transform: translate3d(-100%,0,0);
        -moz-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
        -o-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }

        .slideRight.ng-enter.ng-enter-active {
            /*transition-property*/
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            /*transform*/
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

    .slideRight.ng-leave {
        /*transition-property*/
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        /*transform*/
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

        .slideRight.ng-leave.ng-leave-active {
            /*transition-property*/
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            /*transform*/
            -webkit-transform: translate3d(100%,0,0);
            -moz-transform: translate3d(100%,0,0);
            -ms-transform: translate3d(100%,0,0);
            -o-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
        }
/* slideLeft */
.slideLeft {
    opacity: 1 !important;
}

    .slideLeft.ng-enter {
        /*transition-property*/
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
        /*transform*/
        -webkit-transform: translate3d(100%,0,0);
        -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
        -o-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }

        .slideLeft.ng-enter.ng-enter-active {
            /*transition-property*/
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            /*transform*/
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

    .slideLeft.ng-leave {
        /*transition-property*/
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        /*transform*/
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

        .slideLeft.ng-leave.ng-leave-active {
            /*transition-property*/
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            /*transform*/
            -webkit-transform: translate3d(-100%,0,0);
            -moz-transform: translate3d(-100%,0,0);
            -ms-transform: translate3d(-100%,0,0);
            -o-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
        }
/* slideDown */
.slideDown.ng-enter {
    /*transition-property*/
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    -o-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

    .slideDown.ng-enter.ng-enter-active {
        /*transition-property*/
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        /*transform*/
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

.slideDown.ng-leave {
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

    .slideDown.ng-leave.ng-leave-active {
        /*transition-property*/
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        /*transform*/
        -webkit-transform: translate3d(0,100%,0);
        -moz-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
        -o-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
/* slideUp */
.slideUp {
    opacity: 1 !important;
}

    .slideUp.ng-enter {
        /*transition-property*/
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
        /*transform*/
        -webkit-transform: translate3d(0,100%,0);
        -moz-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
        -o-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

        .slideUp.ng-enter.ng-enter-active {
            /*transition-property*/
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            /*transform*/
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

    .slideUp.ng-leave {
        /*transition-property*/
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        /*transform*/
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

        .slideUp.ng-leave.ng-leave-active {
            /*transition-property*/
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            /*transform*/
            -webkit-transform: translate3d(0,-100%,0);
            -moz-transform: translate3d(0,-100%,0);
            -ms-transform: translate3d(0,-100%,0);
            -o-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
        }

.icon-help {
    color: #0B7BB5;
}

.dropdown-key-col {
    display: inline-block;
    width: 200px;
}

.dropdown-value-col {
}

.tab-form {
    margin-top: -51px;
}

img.dropdown-icon {
    width: 24px;
    height: 24px;
}

.grid-img-cell {
    width: 60px;
}

.module-thumbnail {
    float: left;
    margin-right: 10px;
}

.ingrid-module-id {
    font-weight: bold;
}

.ingrid-module-name {
}

.section {
    padding: 0 10px;
}

.section-top, .section-bottom {
    min-height: 50px;
    margin: 10px 0;
}

.section-left, .section-right, .section-center {
    min-height: 300px;
}

.section-center {
}


.section .module-item {
    margin: 10px 0;
    border: solid 1px #ccc;
    padding: 5px;
    cursor: move;
    position: relative;
}

    .section .module-item img {
        margin: 0 5px 0 0;
        width: 50px;
    }

    .section .module-item span {
    }

    .section .module-item .module-item-button {
        bottom: 1px;
        position: absolute;
        right: 1px;
    }

.modulebase-list {
    padding: 10px 0;
}

.modulebase-item {
    margin: 0 10px;
    width: 138px;
    display: inline-block;
    border: solid 1px #FFB848;
    padding: 5px;
    cursor: move;
    overflow: hidden;
}

    .modulebase-item img {
        float: left;
        margin: 0 5px 0 0;
        width: 50px;
    }

    .modulebase-item span {
    }


.modal-large {
    width: 80% !important;
}

.toggle-show {
    display: none;
}

.toggle-show-hoverout {
     display: none;
}

.toggle-show-unselected {
    display: none;
}

.toggle-show-hoverin {
     display: block;
}

.toggle-show-selected {
     display: block;
}

.on-all-page {
    border: 1px solid #E02222 !important;
}
.btn-icon-only {
    cursor: pointer;
}

.file-item-details {
    display: inline-block;
    word-break: break-all !important;
}

.file-item-details i {
    color: #f7c52e
}

.source-system {
    opacity: 0.7;
}

.source-overrided {
    
}

.source-local {
    
}

.mark-invisiable, .mark-unapproved {
    color: gray;
}

.mark-hot, .mark-allowcomment{
    color: #ffb848;
}

 .mark-visible {
    color: #4d90fe;
}