﻿<img src="{{m.ThumbnailUrl}}" />
<span>{{m.Name}}</span>

<div class="module-item-button toggle-show">
    <button class="btn btn-xs yellow func-edit" data="{{m.ModuleID}}"><i class="icon-pencil"></i></button>
    <button class="btn btn-xs red func-delete" data="{{m.ModuleID}}"><i class="icon-remove"></i></button>
</div>
