﻿ <!-- BEGIN FORM-->
<form id="pageForm" name="pageForm" class="form-horizontal" novalidate>
    <div class="form-inline well well-sm text-center">
        <button type="button" class="btn green" ng-click="save()" ng-disabled="pageForm.$invalid">{{saveButton}}</button>
        <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
    </div>
    <div class="form-body">
        <div class="form-group" ng-class="{'has-error' : pageForm.Name.$dirty && pageForm.Name.$invalid}">
            <label class="control-label col-md-3">Tên trang<span class="required">*</span></label>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Tên page" name="Name" ng-model="obj.Name" required maxlength="250" ng-change="updateSeoName()" />
                <span class="help-block" ng-show="pageForm.Name.$dirty && pageForm.Name.$invalid">Chưa điền tên.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">URL</label>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="SeoName" ng-model="obj.SeoName" maxlength="250" />
                <span class="help-block">http://yoursite.com/{{obj.SeoName}}.html</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Tiêu đề SEO</label>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaTitle" ng-model="obj.MetaTitle" maxlength="250" />
                <span class="help-block">{{obj.MetaTitle?obj.MetaTitle:obj.Name}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Từ khóa SEO</label>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaKeyword" ng-model="obj.MetaKeyword" maxlength="500" />
                <span class="help-block">{{obj.MetaKeyword?obj.MetaKeyword:obj.Name}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Mô tả SEO</label>
            <div class="col-md-8">
                <textarea class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaDescription" ng-model="obj.MetaDescription" maxlength="500"></textarea>
                <span class="help-block">{{obj.MetaDescription?obj.MetaDescription:obj.Description}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="col-md-8">
                <div ng-checkbox title="Cho phép hiển thị" model="obj.IsEnabled"></div>
            </div>
        </div>
    </div>
</form>
<!-- END FORM-->