﻿ <!-- BEGIN FORM-->
<form id="pageLayoutForm" name="pageLayoutForm" class="form-horizontal" novalidate>
    <div class="form-inline well well-sm">
        <input type="hidden" class="input-large" ng-select-layout settings="{placeholder:  'Tạo mới', width:'100%' }" model="obj.LayoutID" required maxlength="50" />
        <a class="btn btn-link" href="#/ui/layout">Layout templates</a>
    </div>
    <div class="form-body">
        <div class="form-group">
            <div ng-code-editor="" id="editor" class="form-control code-editor" ng-model="layout.Content"></div>
        </div>
    </div>
</form>
<!-- END FORM-->