﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Trang chức năng <small> Tùy chỉnh nội dung, module trên trang chức năng.</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/page"> Trang chức năng </a>
            </li>
            <li class="btn-group">
                <button data-close-others="true" data-delay="1000" data-hover="dropdown" data-toggle="dropdown" class="btn blue dropdown-toggle" type="button">
                    <i class="icon-angle-down"></i>
                </button>
                <ul role="menu" class="dropdown-menu pull-right">
                    <li>
                        <a href="#/page/add"><i class="icon-plus"></i> Thêm mới</a>
                    </li>
                    <li>
                        <a href="" ng-click="refreshCache()"><i class="icon-refresh"></i> Refresh cache</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li ng-class="{'active' : searchObj.Group == ''}"><a href="" ng-click="filterGroup('')"> <i class="icon-ok"></i>Tất cả</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Common'}"><a href="" ng-click="filterGroup('Common')"><i class="icon-globe"></i>Cơ bản</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Ecommerce'}"><a href="" ng-click="filterGroup('Ecommerce')"><i class="icon-shopping-cart"></i>Bán hàng</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Product'}"><a href="" ng-click="filterGroup('Product')"><i class="icon-phone"></i>Sản phẩm</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Article'}"><a href="" ng-click="filterGroup('Article')"><i class="icon-bookmark"></i>Tin tức</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Service'}"><a href="" ng-click="filterGroup('Service')"><i class="icon-book"></i>Dịch vụ</a></li>
            <li ng-class="{'active' : searchObj.Group == 'Custom'}"><a href="" ng-click="filterGroup('Custom')"><i class="icon-cog"></i>Tự định nghĩa</a></li>
            <li>
                <input type="text" class="form-control" placeholder="Tìm kiếm" ng-model="searchObj.$">
            </li>
            <li>
                <select class="form-control input-small" ng-model="searchObj.Installable">
                    <option value="">Tất cả</option>
                    <option value="false">Đã cài đặt</option>
                    <option value="true">Chưa cài đặt</option>
                </select>
            </li>
        </ul>

        <div class="tab-content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 140px"></th>
                        <th>Tên trang</th>
                        <th>Url</th>
                        <th style="width: 60px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data | filter:searchObj">
                        <td>
                            <a class="btn default btn-xs red" href="" ng-click="install(item.PageID)" ng-if="item.Installable">
                                <i class="icon-plus"></i> Install
                            </a>
                            <a class="btn default btn-xs blue" href="#/page/edit/{{item.PageID}}" ng-if="!item.Installable">
                                <i class="icon-edit"></i> Edit
                            </a>
                            <a class="btn default btn-xs black" href="" ng-click="delete(item.PageID)" ng-if="!item.IsSystemPage">
                                <i class="icon-trash"></i> Delete
                            </a>
                        </td>
                        <td>
                            <a href="#/page/{{item.PageID}}/module">{{item.Name}}</a>
                        </td>
                        <td>
                            <a href="http://localhost:14480/{{item.SeoName}}" target="_blank">yoursite.com/{{item.SeoName}}</a>
                        </td>
                        <td class="text-center">
                            <span class="label label-sm label-success" ng-if="item.IsEnabled">On</span>
                            <span class="label label-sm label-default" ng-if="!item.IsEnabled">Off</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- END PAGE CONTENT-->
