﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> {{title}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/page">Khung trang</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/page/page-addedit">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple tabbable">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-tabs">
                    <ul class="nav nav-tabs">
                        <li><a href="#portlet_tab2" data-toggle="tab">Layout</a></li>
                        <li class="active"><a href="#portlet_tab1" data-toggle="tab">Thông tin</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_tab1">
                            <div ng-include="'app_admin/views/page/_page-info-form.html'"></div>
                        </div>
                        <div class="tab-pane" id="portlet_tab2">
                            <div ng-include="'app_admin/views/page/_page-layout-edit.html'"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
<!--<script type="text/javascript">
    $(document).ready(function () {
        $('#pageForm').bootstrapValidator({
            feedbackIcons: {
                valid: '',
                invalid: '',
                validating: ''
            },
            fields: {
                MetaTitle: {
                    validators: {
                        notEmpty: {
                            message: 'The MetaTitle is required'
                        }
                    }
                }
            }
        });
    });
</script>-->
