﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> {{title}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/page">Trang chức năng</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/page/{{pageId}}/module"> {{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">

        <div ui-view></div>

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN TAB PORTLET-->
                <div class="portlet box red tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Thêm module</div>
                    </div>
                    <div class="portlet-body">
                        <div class=" portlet-tabs">
                            <ul class="nav nav-tabs">
                                <li><a href="#portlet_tab3" data-toggle="tab">Sản phẩm</a></li>
                                <li><a href="#portlet_tab2" data-toggle="tab">Bài viết</a></li>
                                <li class="active"><a href="#portlet_tab1" data-toggle="tab">Cơ bản</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_tab1">
                                    <div class="modulebase-list">
                                        <div class="modulebase-item tooltips" title="#{{m.ModuleBaseID}} - {{m.Description}}"
                                             ng-repeat="m in listModuleBase" module="{{m.ModuleBaseID}}">
                                            <img src="{{m.ThumbnailUrl}}" />
                                            <span>{{m.Name}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="portlet_tab2">

                                </div>
                                <div class="tab-pane" id="portlet_tab3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TAB PORTLET-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 ">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-reorder"></i> Section Left</h3>
                    </div>
                    <div class="panel-body section-left section" section="Left">
                        <div class="module-item toggle-show-parent" ng-class="{'on-all-page': m.OnAllPage}" module-id="{{m.ModuleID}}" title="{{m.ModuleBaseID}}" ng-repeat="m in listModuleInPage | filter:{Section:'Left'}">
                            <img src="{{m.ThumbnailUrl}}" />
                            <span>{{m.Name}} - {{m.SortOrder}}</span>

                            <div class="module-item-button toggle-show">
                                <!--<button class="btn btn-xs green func-info" data="{{m.ModuleID}}"><i class="icon-file-alt"></i></button>-->
                                <button class="btn btn-xs yellow func-edit" data="{{m.ModuleID}}"><i class="icon-pencil"></i></button>
                                <button class="btn btn-xs red func-delete" data="{{m.ModuleID}}"><i class="icon-remove"></i></button>
                            </div>

                            <!--<div id="popover_{{m.ModuleID}}" class="module-item-info" style="display: none">
                                <div style="width: 200px">  {{m.ModuleBaseID}} - {{m.ModuleBase.ModuleBaseID}} - {{m.ModuleBase.Name}}</div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-reorder"></i> Section Top</h3>
                    </div>
                    <div class="panel-body section-top section" section="Top">
                        <div class="module-item toggle-show-parent" title="{{m.ModuleBaseID}}" module-id="{{m.ModuleID}}" ng-repeat="m in listModuleInPage | filter:{Section:'Top'}">
                            <img src="{{m.ThumbnailUrl}}" />
                            <span>{{m.Name}}</span>

                            <div class="module-item-button toggle-show">
                                <button class="btn btn-xs yellow func-edit" data="{{m.ModuleID}}"><i class="icon-pencil"></i></button>
                                <button class="btn btn-xs red func-delete" data="{{m.ModuleID}}"><i class="icon-remove"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-reorder"></i> Section Center</h3>
                    </div>
                    <div class="panel-body section-center section" section="Center">
                        <div class="module-item toggle-show-parent" title="{{m.ModuleBaseID}}" module-id="{{m.ModuleID}}" ng-repeat="m in listModuleInPage | filter:{Section:'Center'}">
                            <img src="{{m.ThumbnailUrl}}" />
                            <span>{{m.Name}} - {{m.SortOrder}}</span>

                            <div class="module-item-button toggle-show">
                                <button class="btn btn-xs yellow func-edit" data="{{m.ModuleID}}"><i class="icon-pencil"></i></button>
                                <button class="btn btn-xs red func-delete" data="{{m.ModuleID}}"><i class="icon-remove"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-reorder"></i> Section Bottom</h3>
                    </div>
                    <div class="panel-body section-bottom section" section="Bottom">
                        <div class="module-item toggle-show-parent" title="{{m.ModuleBaseID}}" module-id="{{m.ModuleID}}" ng-repeat="m in listModuleInPage | filter:{Section:'Bottom'}">
                            <img src="{{m.ThumbnailUrl}}" />
                            <span>{{m.Name}}</span>

                            <div class="module-item-button toggle-show">
                                <button class="btn btn-xs yellow func-edit" data="{{m.ModuleID}}"><i class="icon-pencil"></i></button>
                                <button class="btn btn-xs red func-delete" data="{{m.ModuleID}}"><i class="icon-remove"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-reorder"></i> Section Right</h3>
                    </div>
                    <div class="panel-body section-right section" section="Right">
                        <div class="module-item toggle-show-parent" title="{{m.ModuleBaseID}}" module-id="{{m.ModuleID}}" ng-repeat="m in listModuleInPage | filter:{Section:'Right'}">
                            <img src="{{m.ThumbnailUrl}}" />
                            <span>{{m.Name}}</span>

                            <div class="module-item-button toggle-show">
                                <button class="btn btn-xs yellow func-edit" data="{{m.ModuleID}}"><i class="icon-pencil"></i></button>
                                <button class="btn btn-xs red func-delete" data="{{m.ModuleID}}"><i class="icon-remove"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>

