﻿<div id="moduleInPageFormModal" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal Title</h4>
            </div>-->
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="centered-content">
                    <button type="button" class="btn green" ng-click="save()" ng-disabled="moduleInPageForm.$invalid">{{saveButton}}</button>
                    <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- BEGIN FORM-->
<form id="moduleInPageForm" name="moduleInPageForm" class="horizontal-form" novalidate>
    <div class="form-actions top fluid" ng-if="!displayAsModal">
        <div class="centered-content">
            <button type="button" class="btn green" ng-click="save()" ng-disabled="moduleInPageForm.$invalid">{{saveButton}}</button>
            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
        </div>
    </div>

    <div class="form-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Chọn module</label>
                    <input type="hidden" ng-select-module-base settings="{placeholder:  'Chọn module', width:'100%' }" model="obj.ModuleBaseID" required maxlength="50" ng-disabled="!isNew" />
                    <!--<input type="text" class="form-control" name="ModuleBaseID" ng-model="obj.ModuleBaseID" maxlength="50" ng-disabled="!isNew" />-->
                </div>
                <div class="form-group" ng-class="{'has-error' : moduleInPageForm.Name.$dirty && moduleInPageForm.Name.$invalid}">
                    <label class="control-label">Tên module<span class="required">*</span></label>
                    <input type="text" class="form-control" placeholder="Tiêu đề module" name="Name" ng-model="obj.Name" required maxlength="250" />
                    <span class="help-block" ng-show="moduleInPageForm.Name.$dirty && moduleInPageForm.Name.$invalid">Chưa điền tiêu đề.</span>
                </div>
                <div class="form-group" ng-class="{'has-error' : moduleInPageForm.Section.$dirty && moduleInPageForm.Section.$invalid}">
                    <label class="control-label">Vị trí<span class="required">*</span></label>
                    <input type="text" class="form-control" placeholder="Vị trí" name="Section" ng-model="obj.Section" required maxlength="250" />
                    <span class="help-block" ng-show="moduleInPageForm.Section.$dirty && moduleInPageForm.Section.$invalid">Chưa điền vị trí.</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Thứ tự hiển thị</label>
                    <div class="form-control" ng-jqx-number-input="{ height: '32px', spinButtons: true, decimalDigits: 0, inputMode: 'simple', min: -10 , max: 99999}" ng-model="obj.SortOrder" />
                </div>
                <div class="form-group">
                    <label class="control-label">Cấu hình</label>
                    <div ng-checkbox title="Hiển thị trên mọi trang" model="obj.OnAllPage" help="Hiển thị module này trên tất cả các trang"></div>
                    <div ng-checkbox title="Module cơ bản" model="obj.IsBasic" help="Hiển thị trong trang quản lý module cơ bản"></div>
                    <div ng-checkbox title="Hiển thị" model="obj.IsEnabled"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-horizontal" ng-repeat="config in moduleConfigs">
                    <ng-form name="configForm">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    {{config.Name}}&nbsp;
                                    <i class="icon-question-sign icon-help tooltips" data-html="true" title="{{config.Description}}"></i>
                                </label>
                                <div class="col-md-9">
                                    <div ng-type-editor="" id="Value" type="config.DataType" model="config.Value"></div>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions fluid" ng-if="!displayAsModal">
        <div class="centered-content">
            <button type="button" class="btn green" ng-click="save()" ng-disabled="moduleInPageForm.$invalid">{{saveButton}}</button>
            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
        </div>
    </div>
</form>
<!-- END FORM-->