﻿<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{title}} <small> {{title}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/page">Khung trang</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#/page/page-addedit">{{title}} </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>{{title}} </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="pageForm" name="pageForm" class="horizontal-form" novalidate>
                    <div class="form-actions top fluid">
                        <div class="centered-content">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="pageForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Mã trang</label>
                                    <input type="text" class="form-control" placeholder="Mã page" name="PageID" ng-model="obj.PageID" maxlength="50" ng-disabled="!isNew" />
                                </div>
                                <div class="form-group" ng-class="{'has-error' : pageForm.Name.$dirty && pageForm.Name.$invalid}">
                                    <label class="control-label">Tên trang<span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="Tên page" name="Name" ng-model="obj.Name" required maxlength="250" ng-change="updateSeoName()" />
                                    <span class="help-block" ng-show="pageForm.Name.$dirty && pageForm.Name.$invalid">Chưa điền tên.</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tên trên URL</label>
                                    <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="SeoName" ng-model="obj.SeoName" maxlength="250" />
                                    <span class="help-block">url: /{{obj.SeoName}}.html</span>
                                </div>
                                <!--<div class="form-group">
                                    <label class="control-label">Thuộc trang</label>
                                    <input type="text" class="form-control" placeholder="Mã trang cha" name="ParentID" ng-model="obj.ParentID" maxlength="50" />
                                </div>-->
                                <div class="form-group">
                                    <label class="control-label">Nhóm</label>
                                    <input type="text" class="form-control" placeholder="Nhóm" name="Group" ng-model="obj.Group" maxlength="250" />
                                </div>
                                <div class="form-group" ng-class="{'has-error' : pageForm.LayoutID.$dirty && pageForm.LayoutID.$invalid}">
                                    <label class="control-label">Mã Layout<span class="required">*</span></label>
                                    <input type="hidden" ng-select-layout settings="{placeholder:  'Chọn layout', width:'100%' }" source-type="Page" model="obj.LayoutID" required maxlength="50" />
                                    <span class="help-block" ng-show="pageForm.LayoutID.$dirty && pageForm.LayoutID.$invalid">Chưa điền mã layout.</span>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tiêu đề SEO</label>
                                    <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaTitle" ng-model="obj.MetaTitle" maxlength="250" />
                                    <span class="help-block">{{obj.MetaTitle?obj.MetaTitle:obj.Name}}</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Từ khóa SEO</label>
                                    <input type="text" class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaKeyword" ng-model="obj.MetaKeyword" maxlength="500" />
                                    <span class="help-block">{{obj.MetaKeyword?obj.MetaKeyword:obj.Name}}</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mô tả SEO</label>
                                    <textarea class="form-control" placeholder="Bỏ trống để lấy mặc định" name="MetaDescription" ng-model="obj.MetaDescription" maxlength="500" />
                                    <span class="help-block">{{obj.MetaDescription?obj.MetaDescription:obj.Description}}</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Thứ tự hiển thị</label>
                                    <div class="form-control" ng-jqx-number-input="{ height: '32px', spinButtons: true, decimalDigits: 0, inputMode: 'simple', min: -10 , max: 99999}" ng-model="obj.SortOrder" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Cấu hình</label>
                                    <div class="checkbox-list">
                                        <label>
                                            <input type="checkbox" name="IsEnabled" ng-model="obj.IsEnabled" /> Hiển thị
                                        </label>
                                    </div>
                                    <div class="checkbox-list">
                                        <label>
                                            <input type="checkbox" name="IsEnabled" ng-model="obj.IsGroup" /> Là nhóm các trang
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="centered-content">
                            <button type="button" class="btn green" ng-click="save()" ng-disabled="pageForm.$invalid">{{saveButton}}</button>
                            <button type="button" class="btn default" ng-click="cancel()">Bỏ qua</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
<!--<script type="text/javascript">
    $(document).ready(function () {
        $('#pageForm').bootstrapValidator({
            feedbackIcons: {
                valid: '',
                invalid: '',
                validating: ''
            },
            fields: {
                MetaTitle: {
                    validators: {
                        notEmpty: {
                            message: 'The MetaTitle is required'
                        }
                    }
                }
            }
        });
    });
</script>-->
