﻿<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js" ng-app="webcloudAdminApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Webcloud | Management Area</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2_metro.css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/css/pages/login-soft.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-toastr/toastr.css" />

    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="~/assets/img/logo-big.png" alt="" />
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" ng-controller="loginController" name="loginForm" novalidate>
            <h3 class="form-title">Đăng nhập trang quản trị</h3>
            <div class="form-group" ng-class="{'has-error' : loginForm.username.$dirty && loginForm.username.$invalid}">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Tên đăng nhập</label>
                <div class="input-icon">
                    <i class="icon-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Tên đăng nhập" ng-model="username" name="username" required />
                    <span class="help-block" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">Chưa điền tên đăng nhập.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': loginForm.password.$dirty && loginForm.password.$invalid}">
                <label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
                <div class="input-icon">
                    <i class="icon-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Mật khẩu" ng-model="password" name="password" required />
                    <span class="help-block" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">Chưa điền mật khẩu.</span>
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <input type="checkbox" ng-model="rememberMe" ng-checked="rememberMe" /> Nhớ đăng nhập
                </label>
                <button class="btn blue pull-right" ng-click="login()" ng-disabled="loginForm.$invalid || !loginForm.$dirty">
                    Login <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            <div class="forget-password">
                <h4>Quên mật khẩu ?</h4>
                <p>
                    click vào <a href="javascript:;" id="forget-password">đây</a>
                    để lấy lại mật khẩu.
                </p>
            </div>

        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form">
            <h3>Forget Password ?</h3>
            <p>Enter your e-mail address below to reset your password.</p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="icon-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                    <i class="m-icon-swapleft"></i> Back
                </button>
                <button type="submit" class="btn blue pull-right">
                    Submit <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        2013 &copy; DongHanh JSC - WebCloud 2.0 Management Area.
    </div>
    <!-- END COPYRIGHT -->

    <div ng-cloak data-wc-overlay="" data-wc-overlay-delay="300">
        <br />
        <img src="~/assets/img/ajax-loading.gif" />&nbsp;&nbsp;Loading
    </div>

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/assets/plugins/respond.min.js"></script>
    <script src="~/assets/plugins/excanvas.min.js"></script>
    <![endif]-->

    <script src="~/assets/scripts/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/assets/scripts/jquery/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-toastr/toastr.min.js"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/scripts/app/app.js" type="text/javascript"></script>
    <script src="~/assets/scripts/app/login-soft.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- CUSTOM SCRIPTS -->
    <script src="~/assets/scripts/app/custom.js"></script>
    <script src="~/assets/scripts/donghanh/webcloud.core.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <!-- BEGIN ANGULARJS -->
    <script src="~/assets/scripts/angular/angular.min.js"></script>
    <script src="~/assets/scripts/angular/angular-route.min.js"></script>
    <script src="~/assets/scripts/angular/angular-animate.min.js"></script>
    <script src="~/assets/scripts/angular/angular-cookies.min.js"></script>
    <script src="~/assets/scripts/angular/angular-local-storage.min.js"></script>

    <script src="~/app_manage/app-login.js"></script>
    <script src="~/app_common/directives/overlay.js"></script>

    <script src="~/app_common/services/appSettings.js"></script>
    <script src="~/app_common/services/authService.js"></script>

    <script src="~/app_manage/controllers/loginController.js"></script>

    <!-- END ANGULARJS -->
    <!-- END JAVASCRIPTS -->

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            Login.init();
            Custom.init();
        });
    </script>
</body>
<!-- END BODY -->
</html>