﻿<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js" ng-controller="topbarController">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Webcloud 2.0 | Admin Area</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->

    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-toastr/toastr.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2_metro.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/data-tables/dataTables.bootstrap.css">

    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-editable/inputs-ext/address/address.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-validator/css/bootstrapValidator.min.css" />

    <link href="~/assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/assets/css/pages/portfolio.css" rel="stylesheet" />

    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="~/assets/plugins/jquery-file-upload/css/jquery.fileupload-ui.css">
    <link href="~/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    
    <link href="~/assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app-admin.css" rel="stylesheet" type="text/css" />

    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
    <div class="loading-frame" ng-if="initialLoad">
        <div class="loading-img">
            <img src="~/assets/img/loading-page-red.GIF" />
        </div>
    </div>
    <div>
        <!-- BEGIN HEADER -->
        <div class="header navbar navbar-inverse navbar-fixed-top" ng-cloak>
            <!-- BEGIN TOP NAVIGATION BAR -->
            <div class="header-inner">
                <!-- BEGIN LOGO -->
                <a class="navbar-brand" href="index.html">
                    <img src="~/assets/img/logo.png" alt="logo" class="img-responsive" />
                </a>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <img src="~/assets/img/menu-toggler.png" alt="" />
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown" id="header_notification_bar">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="icon-warning-sign"></i>
                            <span class="badge">6</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <li>
                                <p>You have 14 new notifications</p>
                            </li>
                            <li>
                            </li>
                            <li class="external">
                                <a href="#">See all notifications <i class="m-icon-swapright"></i></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN INBOX DROPDOWN -->
                    <li class="dropdown" id="header_inbox_bar">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="icon-envelope"></i>
                            <span class="badge">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <li>
                                <p>You have 12 new messages</p>
                            </li>
                            <li>
                            </li>
                            <li class="external">
                                <a href="inbox.html">See all messages <i class="m-icon-swapright"></i></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END INBOX DROPDOWN -->
                    <!-- BEGIN TODO DROPDOWN -->
                    <li class="dropdown" id="header_task_bar">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-tasks"></i>
                            <span class="badge">5</span>
                        </a>
                        <ul class="dropdown-menu extended tasks">
                            <li>
                                <p>You have 12 pending tasks</p>
                            </li>
                            <li>
                            </li>
                            <li class="external">
                                <a href="#">See all tasks <i class="m-icon-swapright"></i></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END TODO DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" src="~/assets/img/avatar1_small.jpg" />
                            <span class="username" title="{{user.Email}}">{{user.DisplayName}}</span>
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="extra_profile.html"><i class="icon-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a>
                            </li>
                            <li>
                                <a href="inbox.html"><i class="icon-envelope"></i> My Inbox <span class="badge badge-danger">3</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-tasks"></i> My Tasks <span class="badge badge-success">7</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Full Screen</a>
                            </li>
                            <li>
                                <a href="extra_lock.html"><i class="icon-lock"></i> Lock Screen</a>
                            </li>
                            <li>
                                <a href="#" ng-click="logout()"><i class="icon-key"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END TOP NAVIGATION BAR -->
        </div>
        <!-- END HEADER -->
        <div class="clearfix"></div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar navbar-collapse collapse" ng-controller="sidebarController">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu" ng-cloak>
                    <li>
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler hidden-phone"></div>
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <li>
                        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                        <form class="sidebar-search" action="extra_search.html" method="POST">
                            <div class="form-container">
                                <div class="input-box">
                                    <a href="javascript:;" class="remove"></a>
                                    <input type="text" placeholder="Search..." />
                                    <input type="button" class="submit" value=" " />
                                </div>
                            </div>
                        </form>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    </li>

                    <li ng-repeat="item in displayItems" class="{{item.itemClass}}" data-ng-class="{'active': highlight(item.url)}">
                        <a ng-if="item.childs.length == 0" href="#{{item.url}}">
                            <i class="{{item.icon}}"></i>
                            <span class="title">{{item.title}}</span>
                        </a>
                        <a href="javascript:;" ng-if="item.childs.length > 0">
                            <i class="{{item.icon}}"></i>
                            <span class="title">{{item.title}}</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu" ng-if="item.childs.length > 0">
                            <li ng-repeat="child in item.childs" class="{{child.itemClass}}" data-ng-class="{'active': highlight(child.url)}">
                                <a href="#{{child.url}}">
                                    <i class="{{child.icon}}"></i>
                                    <span class="title">{{child.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN PAGE -->
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

                <!-- BEGIN STYLE CUSTOMIZER -->
                <div class="theme-panel hidden-xs hidden-sm" ng-controller="globalSettingController">
                    <div class="toggler"></div>
                    <div class="toggler-close"></div>
                    <div class="theme-options">
                        <div class="theme-option theme-colors clearfix">
                            <span>THEME COLOR</span>
                            <ul>
                                <li class="color-black current color-default" data-style="default"></li>
                                <li class="color-blue" data-style="blue"></li>
                                <li class="color-brown" data-style="brown"></li>
                                <li class="color-purple" data-style="purple"></li>
                                <li class="color-grey" data-style="grey"></li>
                                <li class="color-white color-light" data-style="light"></li>
                            </ul>
                        </div>
                        <div class="theme-option">
                            <span>Ngôn ngữ</span>
                            <input type="hidden" ng-select-lang settings="{placeholder:  'Chọn ngôn ngữ', width:'150px',  allowClear: false }" model="selectedLang" />

                            @*<select class="layout-option form-control input-small">
                                <option value="fluid" selected="selected">Fluid</option>
                                <option value="boxed">Boxed</option>
                            </select>*@
                        </div>
                        <div class="theme-option">
                            <span>Layout</span>
                            <select class="layout-option form-control input-small">
                                <option value="fluid" selected="selected">Fluid</option>
                                <option value="boxed">Boxed</option>
                            </select>
                        </div>
                        <div class="theme-option">
                            <span>Header</span>
                            <select class="header-option form-control input-small">
                                <option value="fixed" selected="selected">Fixed</option>
                                <option value="default">Default</option>
                            </select>
                        </div>
                        <div class="theme-option">
                            <span>Sidebar</span>
                            <select class="sidebar-option form-control input-small">
                                <option value="fixed">Fixed</option>
                                <option value="default" selected="selected">Default</option>
                            </select>
                        </div>
                        <div class="theme-option">
                            <span>Footer</span>
                            <select class="footer-option form-control input-small">
                                <option value="fixed">Fixed</option>
                                <option value="default" selected="selected">Default</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- END BEGIN STYLE CUSTOMIZER -->

                <div class="slide-animation-container">
                    @*<div data-ng-view="" id="ngView" class="slide-animation" ng-cloak></div>*@

                    <div ui-view id="ngView" class="slide-animation" ng-cloak></div>
                </div>

            </div>
            <!-- END PAGE -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="footer">
            <div class="footer-inner">
                2013 &copy; Webcloud.
            </div>
            <div class="footer-tools">
                <span class="go-top">
                    <i class="icon-angle-up"></i>
                </span>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>

    <div ng-cloak data-wc-overlay="" data-wc-overlay-delay="300">
        <br />
        <img src="~/assets/img/ajax-loading.gif" />&nbsp;&nbsp;Loading
    </div>

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
        <script src="~/assets/plugins/respond.min.js"></script>
        <script src="~/assets/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/scripts/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script>
        jQuery.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                $(window).scrollLeft()) + "px");
            return this;
        };
        $('.loading-img').center();
        $(window).resize(function () {
            $('.loading-img').center();
        });
    </script>

    <script src="~/assets/scripts/jquery/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN FILE UPLOAD -->
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="~/assets/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="~/assets/plugins/jquery-file-upload/js/vendor/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="~/assets/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="~/assets/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="~/assets/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="~/assets/plugins/jquery-file-upload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="~/assets/plugins/jquery-file-upload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="~/assets/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="~/assets/plugins/jquery-file-upload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="~/assets/plugins/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
    <!-- END FILE UPLOAD -->

    <script src="~/assets/plugins/sortable/Sortable.min.js"></script>
    <script src="~/assets/plugins/sortable/jquery.binding.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery.pulsate.min.js"></script>

    <!-- CUSTOM SCRIPTS -->
    @*<script src="~/assets/plugins/jquery.watch.min.js"></script>*@
    <script src="~/assets/scripts/app/custom.js"></script>
    <script src="~/assets/scripts/donghanh/webcloud.core.js"></script>
    <script src="~/assets/scripts/donghanh/webcloud.text.js"></script>
    <!-- END CUSTOM SCRIPTS -->


    <script type="text/javascript" src="~/assets/scripts/vendor/moment.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap-editable/inputs-ext/address/address.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-mixitup/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>

    <script type="text/javascript" src="~/assets/plugins/bootstrap-validator/js/bootstrapValidator.min.js"></script>

    <!-- Ckeditor -->
    <script type="text/javascript" src="~/assets/plugins/ckeditor/ckeditor.js"></script>
    <!-- End Ckeditor -->
    <!-- BEGIN ACE -->
    <script src="~/assets/plugins/ace/src-min-noconflict/ace.js"></script>
    <script src="~/assets/plugins/ace/src-min-noconflict/ext-language_tools.js"></script>
    <!-- END ACE -->
    <!-- BEGIN DATATABLE -->
    <script type="text/javascript" language="javascript" src="~/assets/plugins/data-tables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/assets/plugins/data-tables/jquery.dataTables.rowGrouping.js"></script>
    <script type="text/javascript" language="javascript" src="~/assets/plugins/data-tables/dataTables.bootstrap.js"></script>
    <!-- END DATATABLE -->
    
    <!-- Begin JqWidget -->
    <link rel="stylesheet" href="/assets/plugins/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/assets/plugins/jqwidgets/styles/jqx.metro.css" type="text/css" />
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxdatatable.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxtreegrid.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxdropdownbutton.js"></script>
    <script src="~/assets/plugins/jqwidgets/jqxnumberinput.js"></script>

    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxgrid.grouping.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/assets/plugins/jqwidgets/jqxcheckbox.js"></script>
    <!-- End JqWidget -->

    <!-- BEGIN ANGULARJS -->
    <script src="~/assets/scripts/angular/angular.min.js"></script>
    <script src="~/assets/scripts/angular/angular-route.min.js"></script>
    <script src="~/assets/scripts/angular/angular-animate.min.js"></script>
    <script src="~/assets/scripts/angular/angular-cookies.min.js"></script>
    <script src="~/assets/scripts/angular/angular-sanitize.min.js"></script>
    <script src="~/assets/scripts/angular/angular-ui-router.js"></script>
    <script src="~/assets/scripts/angular/angular-local-storage.min.js"></script>
    <script src="~/assets/plugins/smart-table.min.js"></script>
    <script src="~/app_admin/app.js"></script>

    <script src="~/app_common/directives/formComponent.js"></script>
    <script src="~/app_common/directives/overlay.js"></script>
    <script src="~/app_common/directives/jqWidget.js"></script>

    <script src="~/app_common/services/appSettings.js"></script>
    <script src="~/app_common/services/httpInterceptors.js"></script>
    <script src="~/app_common/services/authService.js"></script>
    
    <script src="~/app_common/services/layoutService.js"></script>
    <script src="~/app_common/services/fileService.js"></script>

    <script src="~/app_admin/services/userService.js"></script>
    <script src="~/app_admin/services/tagService.js"></script>
    <script src="~/app_admin/services/themeService.js"></script>
    <script src="~/app_admin/services/configurationService.js"></script>
    <script src="~/app_admin/services/resourceService.js"></script>
    <script src="~/app_admin/services/languageService.js"></script>
    <script src="~/app_admin/services/pageService.js"></script>
    <script src="~/app_admin/services/moduleService.js"></script>
    <script src="~/app_admin/services/cacheService.js"></script>
    
    <script src="~/app_admin/services/articleCategoryService.js"></script>
    <script src="~/app_admin/services/articleService.js"></script>


    <script src="~/app_admin/controllers/loginController.js"></script>
    <script src="~/app_admin/controllers/sidebarController.js"></script>
    <script src="~/app_admin/controllers/topbarController.js"></script>
    <script src="~/app_admin/controllers/globalSettingController.js"></script>
    <script src="~/app_admin/controllers/homeController.js"></script>

    <script src="~/app_admin/controllers/layoutController.js"></script>

    <script src="~/app_admin/controllers/themeController.js"></script>
    <script src="~/app_admin/controllers/themeAddeditController.js"></script>
    <script src="~/app_admin/controllers/themeResourcesController.js"></script>

    <script src="~/app_admin/controllers/configurationController.js"></script>
    <script src="~/app_admin/controllers/configurationAddeditController.js"></script>

    <script src="~/app_admin/controllers/resourceController.js"></script>
    <script src="~/app_admin/controllers/resourceAddeditController.js"></script>

    <script src="~/app_admin/controllers/pageController.js"></script>
    <script src="~/app_admin/controllers/pageAddeditController.js"></script>
    <script src="~/app_admin/controllers/moduleInPageController.js"></script>
    <script src="~/app_admin/controllers/manageModuleInPageController.js"></script>
    <script src="~/app_admin/controllers/moduleInPageAddeditController.js"></script>

    <script src="~/app_admin/controllers/moduleController.js"></script>
    <script src="~/app_admin/controllers/moduleAddeditController.js"></script>

    <script src="~/app_admin/controllers/articleCategoryController.js"></script>
    <script src="~/app_admin/controllers/articleCategoryAddeditController.js"></script>
    <script src="~/app_admin/controllers/articleCategoryTrashController.js"></script>
    <script src="~/app_admin/controllers/articleController.js"></script>
    <script src="~/app_admin/controllers/articleAddeditController.js"></script>
    <script src="~/app_admin/controllers/articleTrashController.js"></script>

    <!-- END ANGULARJS -->
    <script src="~/assets/scripts/app/app.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            Custom.init();
            ace.require("ace/ext/language_tools");
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>